.container {
    margin-bottom: 4rem;
}

.container h1 {
    font-size: 1.4rem;
}

.container img {
    color: transparent;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.container header {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 1rem;
    background: #fd1555;
    margin-bottom: 2rem;
    color: white;
    border-radius: 1rem;
}

@media screen and (max-width: 500px) {
    .container h1 {
        font-size: 1.2rem;
    }
    .container header {
        row-gap: 1rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}