.main {}

.main header {
    background: #fd1555;
}

.main header>div {
    padding: 6rem 0;
    width: 70rem;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    text-align: right;
    gap: 4rem;
    justify-content: center;
}

.main header>div>div:first-child>h1 {
    max-width: 16rem;
}

.main header>div>div:last-child {
    width: 380px;
    position: relative;
    height: 380px;
    border: solid 13px #fd1555;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 0px 28px #f0f0f0;
}

.main header h1 {
    color: #f0f0f0;
    font-weight: bolder;
    font-size: 5rem;
    line-height: 68px;
}

.main header h2 {
    color: #f0f0f0;
    margin-top: 2rem;
}

@media screen and (max-width: 830px) {
    .main header>div {
        gap: 2rem;
    }

    .main header>div>div:last-child {
        width: 16rem;
        height: 16rem;
        border: solid 1rem #fd1555;
        box-shadow: 0px 0px 0px 1rem #f0f0f0;
    }

    .main header>div {
        flex-direction: column-reverse;
    }

    .main header>div>div:first-child {
        max-width: 100%;
        text-align: center;
    }

    .main header h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 830px) {
    .main header>div>div:last-child {
        width: 16rem;
        height: 16rem;
        border: solid 1rem #fd1555;
        box-shadow: 0px 0px 0px 1rem #f0f0f0;
    }

    .main header>div {
        flex-direction: column-reverse;
    }

    .main header>div>div:first-child {
        max-width: 100%;
        text-align: center;
    }

    .main header h1 {
        line-height: 44px;
        font-size: 3rem;
    }

    .main header h2 {
        margin-top: 1rem;
    }
}