.followLink {
    text-align: center;
    font-size: 1rem;
    color: dimgrey;
    margin: 0 auto 2rem auto;
    width: 35rem;
    max-width: 90%;
} 

.followLink a {
    text-decoration: none;
    color: #cc1b4c;
}

.followLink a:hover {
    text-decoration: underline;
}

.supportingUserContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto 2rem auto;
}

.supportingUserContainer a {
    text-decoration: none;
    color: #cc1b4c;
    transition: all ease 0.25s;
}

.supportingUser {
    transition: all ease 0.25s;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

.supportingUser img {
    transition: all ease 0.25s;
    border-radius: 50%;
}

.supportingUser h3 {
    font-size: 1rem;
    margin: 0.5rem 0 1.5rem 0;
}

.supportingUserContainer a:hover {
    color: #fd1555;
    transition: all ease 0.25s;
}

.supportingUserContainer a:hover .supportingUser {
    background-color: #fd1555;
    color: #f0f0f0;
    transition: all ease 0.25s;
}

.supportingUserContainer a:hover .supportingUser img {
    transition: all ease 0.25s;
    border-radius: 40%;
}